@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/*導覽列樣式設定*/
body,ul{
    margin: 0px;
}
nav{
    background-color: rgb(193, 193, 244);
}
nav ul{
    display: flex;
    justify-content: right;
    margin: 0px;
}

nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(111, 42, 238);
    color: rgb(201, 204, 248);
    transition: background-color 1s linear, color 1s ease-in; 
    /*滑鼠滑過去變化不要太快，想要滑鼠滑過去有動畫的效果*/
    /*像現在就是要改變background-color，改變的速度為一秒，改變的效果（像這邊是選擇線性效果linear,也可以選擇淡入淡出）
    如果有兩個樣式要變就要再加逗號（這邊第二個樣式是改變顏色的動畫，緩衝一秒使用淡入ease-in）*/
}

/*標題列樣式*/
.banner{
    display: flex;
    justify-content: space-around;/*平均分配在兩邊的邊界，將空白平均分配在左右*/
    align-items: center;/*垂直方向對齊：置中*/
    background-color: rgba(107, 107, 221, 80%);
}

.title{
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
/*照片清單樣式設定*/
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#photolist li{
    list-style-type: none;
    margin: 10px;
}

#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px grey;
}