.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
}  
  
body,ul{
    margin: 0px;
}
nav{
    background-color: rgb(193, 193, 244);
}
nav ul{
    display: flex;
    justify-content: right;
    margin: 0px;
}

nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(111, 42, 238);
    color: rgb(201, 204, 248);
    transition: background-color 1s linear, color 1s ease-in; 
    /*滑鼠滑過去變化不要太快，想要滑鼠滑過去有動畫的效果*/
    /*像現在就是要改變background-color，改變的速度為一秒，改變的效果（像這邊是選擇線性效果linear,也可以選擇淡入淡出）
    如果有兩個樣式要變就要再加逗號（這邊第二個樣式是改變顏色的動畫，緩衝一秒使用淡入ease-in）*/
}

/*標題列樣式*/
.banner{
    display: flex;
    justify-content: space-around;/*平均分配在兩邊的邊界，將空白平均分配在左右*/
    align-items: center;/*垂直方向對齊：置中*/
    background-color: rgba(107, 107, 221, 80%);
}

.title{
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
/*照片清單樣式設定*/
h2{
    margin-left: 10%;
    font-size: 25px;
}
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#photolist li{
    list-style-type: none;
    margin: 10px;
}

#photolist .S{
    border-radius: 10%;
    /* box-shadow: 5px 5px 10px grey; */
}

#photolist a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
}
#photolist .NOW{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 證照及證書 */

.Licenses_and_certificates ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Licenses_and_certificates li{
    list-style-type: none;/* 去除點點 */
    margin: 10px;
    text-align: center;
    line-height: 7px;
}

.Licenses_and_certificates img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px grey;
}
/* 頁尾 */
footer {
    /* height: 84px; */
    background-color: rgb(191, 176, 245);
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    margin: 0 auto;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: none
}
.Y {
    margin-left: 20px;
    float: left;     
    text-indent: 2em;
    text-align: left;
}
.yy {
    float: right;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 5px;
}
